.App {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 20px 10px;
  align-items: center;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
}

.error {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
  color: #E91E63; 
}

.textfield {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid darkgray;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	/* color: #E91E63; */


}
.lastNamefield {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid darkgray;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
}
.emailfield {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid darkgray;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
}
.passwordfield {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid darkgray;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
}